---
import Layout from '../layouts/Layout.astro';
import Tei, {TeiBaseStyle} from 'astro-tei';
import { ProcessOddPm } from './processOddPm';
export function getStaticPaths() {
  const files=['antoine-is-willing-to-burn-it-all-down_fr', 'BroughamReconstructed', 'edition', 'mdl', 'RdCv1n1-en', 'testTEI']
  return files.map(file => ({ params: { page: file },}));
}
const { page } = Astro.params;
const teiFile = (await import(`../tei/${page}.xml?raw`)).default;
const css = ProcessOddPm();
const __TEI_BASE_ENABLED__ = true; // or false, depending on your logic
---
<Layout title="Astro TEI demo">
	<style set:html={css}></style>
	
	{__TEI_BASE_ENABLED__ && <TeiBaseStyle/>}
	<main class="m-auto p-6 max-w-[65ch]">
		<div class="shadow-2xl bg-amber-50 text-gray-700 p-4 mt-4 rounded-md tei-container">
			<Tei data={teiFile} /> <!-- Potentially inject CETEIcean behaviors here. Is there any way to bubble up the CETEI instance? Probably not...?  -->
		</div>
	</main>
	
</Layout>